@tailwind base;
@tailwind components;

.button {
  @apply bg-green-600 text-white rounded-sm h-auto text-xs p-3 font-bold py-2 px-4 rounded;
}
.button-stacked-form {
  @apply rounded-none font-normal;
}
.button:hover {
  @apply bg-green-800;
}

.scale-on-hover {
  @apply transform transition-transform duration-300 ease-in-out cursor-pointer;
}

.scale-on-hover:hover {
  @apply scale-110;
}

.link {
  @apply text-green-700;
}

.link:hover {
  @apply text-green-800 cursor-pointer;
}

@tailwind utilities;
